<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:component-scan base-package="ru.abr.dit"/>

    <!--<context:property-placeholder location="classpath:musicPlayer.properties"/> classpath - это resources 

    <bean id="musicClassicBean"
          class="ru.abr.dit.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
    >
    </bean>
    <bean id="musicRockBean"
          class="ru.abr.dit.RockMusic">
    </bean>
    <bean id="musicHouseBean"
          class="ru.abr.dit.HouseMusic">
    </bean>

    <bean id="musicPlayer"
    class="ru.abr.dit.MusicPlayer"> -->
        <!--<constructor-arg ref="musicBean"/> &lt;!&ndash; ref - ссылка, ссылаемся на другой bean&ndash;&gt;
        <property name="music" ref="musicBean"/>-->
        <!--<property name="musicList">
            <list>
                <ref bean="musicClassicBean"/>
                <ref bean="musicRockBean"/>
                <ref bean="musicHouseBean"/>
            </list></property>-->
        <!--<property name="name" value="Мой музыкальный плеер"/> это для внедрения через setter
        <property name="volume" value="100"/>
        <property name="name" value="${musicPlayer.name}"/> &lt;!&ndash;это для внедрения через файл properties &ndash;&gt;
        <property name="volume" value="${musicPlayer.volume}"/>-->

    <!--</bean>-->

    <!--<bean id="TestBean"
          class="ru.abr.dit.TestBean">
        <constructor-arg value="Neil"/> аргументы для конструктора
    </bean>-->

</beans>